
.span_block{
	display:block;
}

.module_content .divider{
    border-top: 1px solid #CCCCCC;
    font-size: 1px;
    margin: 10px 1px;	
}

#layout_left{
	padding-top:5px;	
}

/* +++++++++++++++++ START Page Styles +++++++++++++++++ */

.page_title{
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px 15px;
    text-transform: uppercase;
    clear: both;
}

.sub_heading{
	display:block;
	color:#3CAACC;
	font-weight:bold;
}

.sub_heading_border{
	display:block;
	color:#444444;
	font-weight:bold;
	border-bottom:1px solid #cccccc;
	margin-bottom:5px;
}

.page_content{
    margin: 15px;

}


.white_mod_960_content .page_content{
	margin-bottom:0;
	overflow:hidden;
}

.header_img{
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	-ms-border-radius: 7px 7px 7px 7px;
}

.yellow_arrow{
    background: url("../img/site/yellow_arrow.png") no-repeat scroll 0 0 transparent;
    height: 29px;
    margin-left: 30px;
    margin-top: 19px;
}

.cta_title_text{
    color: #3CAACC;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.no_margin{
	margin:0;	
}

/* +++++++++++++++++ END Page Styles +++++++++++++++++ */




/* +++++++++++++++++ START Form Styles +++++++++++++++++ */
label{
	font-size:14px;
}

.submit{
	clear:both;	
}

.text,
.password,
.select,
.checkbox{
    margin: 15px 0;
}

.text input,
.password input{
    border: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 5px;
    width: 235px;
}

.text label,
.select label,
.password label{
	display:block;
}

.select select{
	  font-size: 15px;
    padding: 5px 0;
    width: 245px;
}

.input label span{
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.checkbox{
	display:block;
}

.checkbox input,
.checkbox label{
	float:left;
}

#VenueInitiateForm .input label{
	font-size:12px;
}

.add_deal{
	padding:0 15px;
}
.add_deal .input{
    float: left;
    margin-right: 30px;
    width:275px;
}

.add_deal fieldset{
    border-bottom: 1px solid #CCCCCC;
    clear: both;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.add_deal fieldset legend{
	font-weight:bold;
}
.add_deal .textarea{
    clear: both;
    float: none;
    margin: 15px 0;
}

.textarea label{
	display:block;
	margin-bottom:5px;
}

.field_row{
	clear:both;
	margin:5px 0;
}

.field_column_wrap{

}

.field_column{
    float: left;
    margin-right: 50px;
    width: 250px;
}

.last_field_column{
	margin-right:0;
}

.field_column .input{
	width:250px;
}


/* +++++++++++++++++ END Form Styles +++++++++++++++++ */

/* +++++++++++++++++ START Module Styles +++++++++++++++++ */

/* White Module 960 */

.white_mod_960_wrap{
    background: url("../img/site/white_mod_bottom_960.png") no-repeat scroll left bottom transparent;
    margin: 0 auto 15px;
    padding-bottom: 13px;
}

.white_mod_960_top{
    background: url("../img/site/white_mod_top_960.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 12px;
    width: 960px;
}

.white_mod_960_content{
    background: url("../img/site/white_mod_center_960.png") repeat-y scroll 0 0 transparent;
    display: block;
    min-height: 100px;
    padding: 0 15px;
}

.white_mod_694_content{
    background: url("../img/site/white_mod_center_694.png") repeat-y scroll 0 0 transparent;
    min-height: 100px;
    padding: 0 12px;
    position:relative;
}

.white_mod_694_wrap{
    background: url("../img/site/white_mod_bottom_694.png") no-repeat scroll left bottom transparent;
    margin: 0 auto 15px;
    padding-bottom: 12px;
}

.white_mod_694_top{
    background: url("../img/site/white_mod_top_694.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 12px;
    width: 694px;
}


.white_mod_246_content{
    background: url("../img/site/white_mod_center_246.png") repeat-y scroll 0 0 transparent;
    min-height: 100px;
    padding: 0 12px 0 11px;
}

.white_mod_246_wrap{
    background: url("../img/site/white_mod_bottom_246.png") no-repeat scroll left bottom transparent;
    margin: 0 auto 15px;
    padding-bottom: 10px;
}

.white_mod_246_top{
    background: url("../img/site/white_mod_top_246.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 9px;
    width: 246px;
}

.white_mod_title{
    color: #3CAACC;
    display: block;
    font-size: 18px;
    margin: 5px 0 2px 20px;
}

.blue_rounded_mod{
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 7px;
}

.desination_title{
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    display:block;
}

.listing_desination_title{
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    display:block;
}

.module_title{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px;
}

.module_content{
	-moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    background: none repeat scroll 0 0 #EAFBFB;
    min-height: 100px;
    padding: 10px;
}

.module_content_white{
    background: none repeat scroll 0 0 #FFFFFF;
    min-height: 100px;
    padding: 10px;
    display:block;
 }

.white_mod_246_content p{
	font-size: 13px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.gray_module_title{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    background: none repeat scroll 0 0 #CCCCCC;
    color: #4D4D4D;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px;
}

.gray_module_content{
	background:#ffffff;
	min-height:100px;
}

.highlights_mod{
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #EAFBFB;
    border: 1px solid #CCCCCC;
    min-height: 100px;
    padding: 10px;
}


.featured_deal_description{
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 40px 5px 40px 0;
}

.listing_deal_description{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 5px 0;
}

.advertising_module{

}
.advertise_page .yellow_arrow{
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    width: 15px;
}

.advertising_module .module_title{
	font-size:18px;
}

.advertising_module .module_content{
	min-height:0;	
	background:#ffffff;
}

.advertising_module .module_content p{
    color: #777777;
    font-weight: bold;
    line-height: 1.4;
}

.advertising_module_wrap{
    margin: 15px auto;
    width: 860px;
}

.start_advertising_wrap{
    margin: 20px auto 50px;
    width: 900px;
}

.advertise_page .highlight_list{
    clear: none;
    display: block;
    float: left;
    margin: 10px 30px;
    width: 400px;
}

.advertise_page .highlight_list span{
	color:#3CAACC;
	font-weight:bold;
}

.center_text{
    color: #777777;
    font-size: 15px;
    font-weight: bold;
    margin: 0 auto 25px;
    text-align: center;
    width: 700px;
}

/* +++++++++++++++++ END Module Styles +++++++++++++++++ */

#progressbar_wrap{
	margin-top:10px;
	margin-bottom:10px;
}

.progressbar{
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #E2E2E2;
    border: 1px solid #CCCCCC;
    clear: both;
    height: 12px;
    z-index:100;
    display:block;
}

.progress_val{
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    background: url("../img/site/progress_value_bg.png") repeat-x scroll 0 0 transparent;
    height: 12px;
    width: 0;
    z-index:1000;
    display:block;
}

.current_quantity,
.remaining_quantity{
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0;
    text-transform: uppercase;
}

.deal_listing_info .remaining_quantity,
.remaining_quantity,
#deal_view_details .remaining_quantity,
#featured_deal .remaining_quantity{
    float: right;
    width: 130px;
}

.prices{
	color: #3CAACC;
    font-weight: bold;
}

.strike{
    background: url("../img/site/strike.png") repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    left: 30px;
    margin: 0 auto;
    position: absolute;
    top: 5px;
    width: 30px;
}

/* +++++++++++++++++ START Button Styles +++++++++++++++++ */

.approve_btn{
    background: url("../img/site/btn_approve.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    font-size: 0;
    height: 21px;
    padding: 0;
    width: 81px;
}

.book_now_btn{
	background: url("../img/site/book_now_btn.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 41px;
    width: 138px;
}

.sold_out_btn{
	background: url("../img/site/sold_out_btn.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 41px;
    width: 138px;
}

.find_deals_btn{
    background: url("../img/site/find_deals_sprite.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: right;
    font-size: 0;
    height: 46px;
    width: 191px;
}

.update_account_btn{
    background: url("../img/site/btn_update_account.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: right;
    font-size: 0;
    height: 46px;
    margin: 5px 15px 0 0;
    width: 191px;
}

.create_merchant_account_btn{
    background: url("../img/site/btn_create_account.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: right;
    font-size: 0;
    height: 27px;
    margin: 5px 15px 0 0;
    width: 146px;
}

.create_deal_btn{
    background: url("../img/site/btn_create_deal.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: right;
    font-size: 0;
    height: 27px;
    margin: 0;
    width: 145px;
}


.find_more_deals{
    background: url("../img/site/find_more_deals.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    clear: both;
    display: block;
    float: none;
    height: 36px;
    margin: 15px auto;
    width: 164px;
    font-size:0;
}

.reservations{
    background: url("../img/site/reservations_btn.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 21px;
    padding: 0;
    width: 87px;
}

.continue_btn{
    background: url("../img/site/continue.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    font-size: 0;
    height: 41px;
    padding: 0;
    width: 157px;
}

.start_advertising_btn{
    background: url("../img/site/start_advertising_btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    font-size: 0;
    height: 47px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 0;
    width: 231px;
}

.reservation_list_all{
    background: url("../img/site/see_all_reservations_btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    font-size: 0;
    height: 21px;
    padding: 0;
    width: 151px;
    float:right;
}

.login{
    background: url("../img/site/btn_login.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    font-size: 0;
    height: 27px;
    padding: 0;
    width: 85px;
}

.reset_password_btn{
    background: url("../img/site/btn_reset_password.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    font-size: 0;
    height: 27px;
    padding: 0;
    width: 85px;
}

.submit_btn{
    background: url("../img/site/btn_submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    font-size: 0;
    height: 27px;
    padding: 0;
    width: 85px;
}


.create_account_btn{
    background: url("../img/site/btn_create_account.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    font-size: 0;
    height: 27px;
    padding: 0;
    width: 146px;
}

.sign_up_btn{
    background: url("../img/site/btn_sign_up.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    font-size: 0;
    height: 32px;
    padding: 0;
    width: 122px;
}

.enter_btn{
    background: url("../img/site/btn_enter.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
    float: none;
    font-size: 0;
    height: 32px;
    padding: 0;
    width: 122px;
}

/* +++++++++++++++++ END Button Styles +++++++++++++++++ */

.cta_text{
	font-weight:normal;
	font-size:16px;
}


#DealIndexForm .checkbox{
    background: url("../img/site/checkbox_sprite.png") no-repeat scroll 0 -18px transparent;
    height: 17px;
    width: 17px;
}



.facebook_ico{
    background: url("../img/site/social_icons.png") no-repeat scroll 0 0 transparent;
}

.twitter_ico{
    background: url("../img/site/social_icons.png") no-repeat scroll top right transparent;
}

.social_media{
	float:right;
	margin:20px 0 0 0;
}

.social_media a{
    display: block;
    float: right;
    height: 20px;
    margin: 0 5px 0 0;
    width: 21px;
}
/*
* Error Messaging and Alerts
*/
.error-message{
    clear: both;
    color: red;
    font-size: 11px;
    font-style: italic;
}


/*
* Pagination Controls
*/

.pagination_controls{
	margin:15px 0 0 0;
}

.pagination_controls a{
	float:left;
	display: block;
}

.pagination_controls a.prev{
    background: url("../img/site/pagination.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    width: 44px;
}

.pagination_controls a.next{
    background: url("../img/site/pagination.png") no-repeat scroll -48px 0 transparent;
    height: 20px;
    width: 44px;
}

.pagination_controls a.page_num{
    color: #3CAACC;
    margin: 0 0 0 5px;
    padding: 2px 4px;
    text-decoration: none;
}

.pagination_controls a.last{
	margin-right:5px;
}

.pagination_controls a.current{
	color:#444444;
	background:#cccccc;
}
.pages_controler{
	float:left;
}

.pages_controler a:hover{
	color:#444444;
	background:#cccccc;
}


/**
* Calendar Styles
*/

.calendar_wrap{
    height: 330px;
    margin: 15px auto 5px;
    overflow: hidden;
    position: relative;
    width: 656px;
}

.month_wrap{
    float: left;
    margin: 0 7px;
    width: 315px;
}

.calendar_slider{
	position:relative;	
}
.calendar_heading{
    background: none repeat scroll 0 0 #546464;
    text-align: center;
    width: 315px;
}
.calendar_controls{
    display: block;
    left: 0;
    position: absolute;
    width: 660px;
    z-index: 1000;
}

.calendar_controls a.prev_cal{
    background: url("../img/site/calendar_controls.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 12px;
    margin: 10px 0 0 15px;
    width: 13px;
}

.calendar_controls a.next_cal{
    background: url("../img/site/calendar_controls.png") no-repeat scroll -20px 0 transparent;
    display: block;
    float: right;
    height: 12px;
    margin: 10px 15px 0 0;
    width: 13px;
}

.calendar_heading h3{
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 17px;
    margin: 0 auto;
    padding: 5px 0;
    width: 330px;
}

.calendar th{
    background: none repeat scroll 0 0 #546464;
    color: #FFFFFF;
    padding: 5px 0;
}

.calendar td{
    background: none repeat scroll 0 0 #E0F8F8;
    border: 3px solid #FFFFFF;
    padding: 1px;
    text-align: right;
    vertical-align: top;
	min-width:37px;
}

.calendar td a{
    color: #444444;
    display: block;
    float: right;
    height: 35px;
    padding: 5px 5px 0 0;
    text-align: right;
    text-decoration: none;
    width: 35px;
}

.calendar  .outside_range {
    background: none repeat scroll 0 0 #D7D7D7;
}

.calendar  .unavailable {

}

.calendar  .unavailable a {
	position:relative;
}

.calendar .unavailable span.slash{
    background: url("../img/site/unavail_diaslash.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 10px;
    position: absolute;
    right: 3px;
    top: 8px;
    width: 15px;
}


.calendar td.checkInDate,
.calendar td.checkOutDate{
	background:#ffbe32;
}

.calendar td.dateSelection{
	background:#fde9be;
}


.calendar td.calendarHover{
	background:#ffbe32;
}

.calendar td.blank a:hover,
.calendar td.outside_range a:hover,
.calendar .blank:hover,
.calendar .outside_range:hover {
	cursor:default;	
}

.calendar td.blank{
	background: none repeat scroll 0 0 #EEEEEE;
}

.calendar td a span.bookings{
	display:block;
}

.first_cal,
.last_cal{
	display:block;
}

.clear_dates{
	float:right;
	margin-right:40px;	
}

.unavailable_legend{
    background: url("../img/site/unavail_diaslash.png") no-repeat scroll 0 1px transparent;
    float: left;
    line-height: 1;
    margin: 0 0 0 30px;
    padding-left: 23px;
}

.reservation_info{
    clear: both;
    float: right;
    margin: 10px 40px 0 0;
    width: 250px;
}

.reservation_info .check_in,
.reservation_info .check_out,
.summary_total_value{
  display:block;
  float:right;
}

.date_legend{
	  background: none repeat scroll 0 0 #FFBE32;
    border: 1px solid #EDA200;
    display: block;
    float: left;
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

.summary_total{
    background: none repeat scroll 0 0 #E0F8F8;
    border: 1px solid #C7E2E2;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -ms-border-radius: 7px 7px 7px 7px;
    clear: both;
    color: #444444;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
}

.summary_total span{
  float:right;
  text-align:right;
  width:100px;	
}



.reservations_bookings{
	color: green;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 0 0 0 5px;
	text-align: left;
}

.merchant_reservations .calendar .unavailable span.slash{
	display:none;
}

/**
* Reservation List Styles
*/


#reservation_list_meta{
	clear:both;	
	width:940px;
	margin: 10px auto;
}

#reservation_list_meta p{
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    width: 400px;
}

#reservation_list{
	clear:both;
}
/* Temp fix for hiding pagination */
#reservation_list #pagination{
	display:none;
}


.reservation_table{
  margin: 10px auto;
  width: 940px;
}

.reservation_table th{
		text-align:left;
		border-bottom:3px solid #4EBDDE;
}

.reservation_table th a{
	text-decoration:none;
	color:#4EBDDE;
}

.reservation_table th{
		text-align:left;
}

.reservation_table tr td{
		padding:10px 0;
		border-bottom:1px solid #CCCCCC;
}




/* Overlay Styles*/

.overlay_form_box{
	-moz-border-radius: 15px;
	-webkit-border-raduis:15px;
	border-radius: 15px;
	border:3px solid #37A6C7;
	background:#fff;
	padding:10px;
	width: 715px;
	position:absolute;
	top:0;
	
	z-index: 2000;
	padding-top:10px;
}
#overlay{ 
	display:none;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	text-align:center;
	z-index: 1000;
	background:url('../img/site/transparency.png') repeat fixed 0 0 transparent;
}

.subscriber_title{
    color: #37A6C7;
    font-size: 25px;
    margin: 15px auto 25px;
    text-align: center;
}

.subscriber_title span{
	color: #2dab14;
}

.subscriber_cta{
    color: #37A6C7;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: left;
}

.subscribe_nav{
    clear: none;
    float: right;
    margin: 0;
}
.subscribe_nav li{
    border-right: 1px solid #999999;
    float: left;
    line-height: 11px;
    list-style: none outside none;
    margin-left: 0;
 }

.subscribe_nav li a{
		color: #999999;
    font-size: 11px;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
}

.subscriber_form{
    float: right;
    margin-bottom: 80px;
    overflow: hidden;
    width: 295px;	
}

.subscriber_form .input{
    float: left;
    margin-top: 10px;
}


.subscriber_form .field_row{
    clear: both;
    float: right;
    margin: 26px auto 0;
    width: 295px;
}

.subscriber_form .horizontal_list{
	
}

.subscriber_form .error-message{
	
}


.form_column{
float: right;
    width: 302px;
}

.overlay_img{
	  float: left;
    margin: 5px;
}

/* Definition Lists */
.table_list dd, .table_list dt{
	float:left;
}

.table_list dt{
    clear: both;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px;
    text-align: right;
}

/* Notifications*/

.notification{
	display:none;
}
.success_notification{
    background: none repeat scroll 0 0 #d3f6da;
    border: 2px solid #188003;
    border-radius: 5px 5px 5px 5px;
    color: #4D4D4D;
    font-weight: bold;
    position: fixed;
    text-align: center;
    top: 150px;
    width: 690px;
    z-index: 2000;
    left:280px;
}



.error_notification{
    background: none repeat scroll 0 0 #F9F0F2;
    border: 2px solid #D11321;
    border-radius: 5px 5px 5px 5px;
    color: #4D4D4D;
    font-weight: bold;
    position: fixed;
    text-align: center;
    top: 150px;
    width: 690px;
    z-index: 2000;
    left:280px;
}

#layout_left .error_notification,
#layout_left .success_notification{
	left:158px;
}

.success_notification p{
    background: url("../img/site/success.png") no-repeat scroll 0 0 transparent;
    line-height: 33px;
    margin: 15px;
    padding-left: 41px;
    padding-top: 0;
    text-align: left;
}

.error_notification p{
    background: url("../img/site/error.png") no-repeat scroll 0 0 transparent;
    line-height: 33px;
    margin: 15px;
    padding-left: 41px;
    padding-top: 0;
    text-align: left;
}

/* AJAX Loader */
.calendar_wrap{
	visibility:hidden;
}

.merchant_reservations .calendar_wrap{
	visibility:visible;
}
.loader{
    background: url("../img/site/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    display:none;
    height: 32px;
    left: 325px;
    position: absolute;
    top: 175px;
    width: 32px;
}

#DealBookForm{
	position:relative;
}

/* pagination */

.pagination{
	margin:0 auto;
	float:left;
	display:block;
}

.pagination a, 
.pagination span.current{
    margin: 0 5px;
    padding: 5px 10px;
    font-weight:bold;
    border: 1px solid #CCCCCC;
    color:#444444;
		text-decoration:none;
		float:left;
}

.pagination span.current,
.pagination a.numbers:hover {
	  background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
}

.pagination a{

}


.pagination .prev{
    background: url("../img/site/pagination.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: block;
		margin-top:5px;
    font-size: 0;
    height: 20px;
    padding: 0;
    width: 45px;
}

.pagination .next{
    background: url("../img/site/pagination.png") no-repeat scroll -47px 0 transparent;
    border: medium none;
    display: block;
    font-size: 0;
    height: 20px;
    padding: 0;
    width: 45px;
    margin-top:5px;
}