
/* +++++++++++++++++ START Page Styles +++++++++++++++++ */

.page_title{
    -moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 17px;
    margin-bottom: 15px;
    padding: 7px 15px;
    text-transform: uppercase;
}

/* +++++++++++++++++ END Page Styles +++++++++++++++++ */




/* +++++++++++++++++ START Form Styles +++++++++++++++++ */
label{
	font-size:14px;
}

.submit{
	clear:both;	
}

.text{
    margin: 15px 0;
}

.text input{
    border: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 5px;
    width: 235px;
}

.text label{
	display:block;
}

/* +++++++++++++++++ END Form Styles +++++++++++++++++ */

/* +++++++++++++++++ START Module Styles +++++++++++++++++ */

/* White Module 960 */

.white_mod_960_wrap{
    background: url("../img/site/white_mod_bottom_960.png") no-repeat scroll left bottom transparent;
    margin: 0 auto 15px;
    padding-bottom: 13px;
}

.white_mod_960_top{
    background: url("../img/site/white_mod_top_960.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 12px;
    width: 960px;
}

.white_mod_960_content{
    background: url("../img/site/white_mod_center_960.png") repeat-y scroll 0 0 transparent;
    min-height: 100px;
    padding: 0 15px;
}

.white_mod_694_content{
    background: url("../img/site/white_mod_center_694.png") repeat-y scroll 0 0 transparent;
    min-height: 100px;
    padding: 0 10px;
}

.white_mod_694_wrap{
    background: url("../img/site/white_mod_bottom_694.png") no-repeat scroll left bottom transparent;
    margin: 0 auto 15px;
    padding-bottom: 12px;
}

.white_mod_694_top{
    background: url("../img/site/white_mod_top_694.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 12px;
    width: 694px;
}


.white_mod_246_content{
    background: url("../img/site/white_mod_center_246.png") repeat-y scroll 0 0 transparent;
    min-height: 100px;
    padding: 0 12px 0 11px;
}

.white_mod_246_wrap{
    background: url("../img/site/white_mod_bottom_246.png") no-repeat scroll left bottom transparent;
    margin: 0 auto 15px;
    padding-bottom: 10px;
}

.white_mod_246_top{
    background: url("../img/site/white_mod_top_246.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 9px;
    width: 246px;
}

.white_mod_title{
    color: #3CAACC;
    display: block;
    font-size: 18px;
    margin: 5px 0 2px 20px;
}

.blue_rounded_mod{
    -moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 7px;
}

.desination_title{
    -moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
}

.listing_desination_title{
    -moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.module_title{
    -moz-border-radius: 5px 5px 0 0;
    background: none repeat scroll 0 0 #3CAACC;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px;
}

.module_content{
	background:#eafbfb;
	min-height:100px;
}

.highlights_mod{
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #EAFBFB;
    border: 1px solid #CCCCCC;
    min-height: 100px;
    padding: 10px;
}


.featured_deal_description{
	font-size: 24px;
    font-weight: bold;
    margin: 40px 5px 0;
}

.listing_deal_description{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 5px 0;
}

/* +++++++++++++++++ END Module Styles +++++++++++++++++ */

#progressbar_wrap{
	margin-top:10px;
	margin-bottom:10px;
}

.progressbar{
    -moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #E2E2E2;
    border: 1px solid #CCCCCC;
    clear: both;
    height: 12px;
}

.progress_val{
    -moz-border-radius: 7px 7px 7px 7px;
    background: url("../img/site/progress_value_bg.png") repeat-x scroll 0 0 transparent;
    height: 12px;
    width: 0;
}

#current_quantity,
#remaining_quantity{
    font-size: 11px;
    font-weight: bold;
    margin: 3px 0;
    text-transform: uppercase;
}

#remaining_quantity{
	float:right;
}

.prices{
	color: #3CAACC;
    font-weight: bold;
}

.strike{
    background: url("../img/site/strike.png") repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    left: 33px;
    margin: 0 auto;
    position: absolute;
    top: 2px;
    width: 30px;
}

/* +++++++++++++++++ START Button Styles +++++++++++++++++ */

.book_now_btn{
	background: url("../img/site/book_now_btn.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 41px;
    width: 138px;
}

.find_deals_btn{
    background: url("../img/site/find_deals_sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 46px;
    width: 191px;
}

.find_more_deals{
    background: url("../img/site/find_more_deals.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    clear: both;
    display: block;
    float: none;
    height: 36px;
    margin: 15px auto;
    width: 164px;
}

/* +++++++++++++++++ END Button Styles +++++++++++++++++ */

.cta_text{
	font-weight:normal;
	font-size:16px;
}


.checkbox{
    background: url("../img/site/checkbox_sprite.png") no-repeat scroll 0 -18px transparent;
    height: 17px;
    width: 17px;
}



.facebook_ico{
    background: url("../img/site/social_icons.png") no-repeat scroll 0 0 transparent;
}

.twitter_ico{
    background: url("../img/site/social_icons.png") no-repeat scroll top right transparent;
}

.social_media{
	float:right;
	margin:20px 0 0 0;
}

.social_media a{
    display: block;
    float: right;
    height: 20px;
    margin: 0 5px 0 0;
    width: 21px;
}

