
/* +++++++++++++++++ START Layout Styles +++++++++++++++++ */



#layout_header{
	background:url("../img/site/header_gradient_bg.png") repeat scroll 0 0 #dff8f8;
	height:175px;
	position:relative;
}

#layout_footer{
    background: none repeat scroll 0 0 #DADADA;
    clear: both;
}

#layout_main{
	margin-bottom:30px;
}

/* +++++++++++++++++ END Layout Styles +++++++++++++++++ */

/* +++++++++++++++++ START Element Styles +++++++++++++++++ */


/* Main Nav */

.main_nav{
    float: right;
    margin: 22px 15px 0 0;
}

.main_nav li{
    border-right: 1px solid #CCCCCC;
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_nav li a{
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
	
}

/* Subscribe CTA */

.subscribe_cta{
    clear: both;
    float: right;
    margin: 21px 0 0;
}

.subscribe_cta .cta_text{
    float: right;
    line-height: 27px;
}

.subscribe_form{
    float: right;
    width: 305px;
}

.subscribe_form #UserEmail{
    border: 1px solid #CCCCCC;
    float: left;
    font-size: 15px;
    margin: 0 5px 0 10px;
    padding: 3px;
}

.subscribe_form .submit{
    clear: none;
    float: left;
    margin-top: 2px;
}

.subscribe_form .submit input{
	background: url("../img/site/yellow_btn1_bg.png") no-repeat scroll 0 0 transparent;
	border: medium none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    text-transform: uppercase;
    vertical-align: top;
    width: 100px;
}

/* Region Selection */

#region_selection_map,
#region_selection_text{
	display: block;
    margin: 15px auto 0;
    width: 900px;
}

.region{
   cursor: pointer;
    display: block;
    float: left;
    padding-top: 115px;
    width: 150px;
}

#rgn_north_america{
	background: url("../img/site/region_selection_map.png") no-repeat scroll 0 0 transparent;	
}

#rgn_latin_america{
    background: url("../img/site/region_selection_map.png") no-repeat scroll -157px 0 transparent;
}

#rgn_europe{
	background: url("../img/site/region_selection_map.png") no-repeat scroll -315px 0 transparent;	
}

#rgn_africa{
	background: url("../img/site/region_selection_map.png") no-repeat scroll -469px 0 transparent;	
}

#rgn_asia{
	background: url("../img/site/region_selection_map.png") no-repeat scroll -625px 0 transparent;	
}

#rgn_oceania{
	background: url("../img/site/region_selection_map.png") no-repeat scroll -778px 0 transparent;	
}

#region_selection_text {
    margin: 5px auto 25px;
}



.checkbox_field{
    cursor: pointer;
    float: left;
    margin-left: 15px;
    position: relative;
    width: 145px;
}

.checkbox_field div{
    float: left;
    margin: 0 5px 0 0;
}

.checkbox_field span{
	display:block;
}

.checkbox_field p{
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    color:#565656;
}

#chk_north_america{
	
}

#chk_latin_america{
    margin-left: 25px;
    width: 125px;
}
#chk_asia{
    width: 115px;
}
#chk_asia p{
    width: 90px;
}

#chk_oceania{
    margin: 0 0 0 12px;
    width: 110px;
}

#chk_oceania p{
	width:80px;
}


/* Deal Search Bar*/

#deal_search_bar{
    margin-bottom: 0;
    padding-top: 20px;
}

#deal_search_bar h3{
    font-size: 35px;
    line-height: 1.2;
}

#deal_search_bar p{
    font-size: 16px;
    margin: 25px auto 10px;
}

#find_deals{
	
}

#DealIndexForm{
	position:relative;
}

#home_find_deals{
    left: 619px;
    position: absolute;
    top: 244px;
}


/* Deal Search Module*/

#search_mod .checkbox_field{
    clear: both;
    margin: 10px 0 8px 12px;
}

/* Deal Listings */
.filter_bar{
    background: url("../img/site/filter_bar.png") no-repeat scroll 0 0 transparent;
    height: 65px;
}

#sort_options{
	margin: 22px 20px;
	float:left;
}




#sort_options li{
    border-right: 1px solid #AAAAAA;
    display: inline;
    list-style-type: none;
}

#sort_options .list_title{
	border:none;
}

#sort_options li a{
    color: #6C6B6B;
    padding: 0 10px;
    text-decoration: none;
}

.listing_prices{
	margin: 10px 5px;
    text-transform: uppercase;
}

/* Deal Details */

#deal_detail_cta{
	border-left: 1px solid #EEEEEE;	
}

#deal_detail_cta p{
	font-size: 25px;
    font-weight: bold;
    line-height: 41px;
    margin-left: 10px;
}

#book_now_bar{
    clear: both;
    margin: 0 5px;
    padding: 10px 7px;
    width: 650px;
}

#book_now_bar h3{
	font-size:20px;
	font-weight:bold;
}

#deal_view_description h3{
	font-size:16px;	
}

#detail_prices span{
    font-size: 11px;
    margin: 5px 0;
    vertical-align: bottom;
}

#detail_prices p{
	text-align: center;
    text-transform: uppercase;
    margin:0;
}

#detail_prices #original_price{
	clear:both;
}

/* Footer */

#footer2{
    background: none repeat scroll 0 0 #656565;
    clear: both;
    color: #FFFFFF;
    height: 40px;
}

.footer_section{
	margin:15px;
}

.footer_section p{
    color: #6C6B6B;
    font-size: 13px;
    line-height: 1.5;
}

.footer_section_title{
    color: #565656;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.footer_nav{
	margin: 10px 15px;
}

.footer_nav li{
	display:inline;
	border-right:1px solid #CBCACA;
}

.footer_nav li a{
    color: #CBCACA;
    padding: 0 5px 0 0;
    text-decoration: none;
}
.footer_section_nav{
margin:0;	
}

.footer_section_nav li,
.footer_section_nav li a{
	color:#565656;
}

.footer_section_nav li{
		border-right:1px solid #565656;
}

.last_li{
	border:none !important;
}

/* +++++++++++++++++ END Elements Styles +++++++++++++++++ */

.copyright{
	margin: 10px 0;
	float:right;
	color:#CBCACA;
}
.clouds{
    background: url("../img/site/clouds_bg.png") repeat scroll left bottom transparent;
    bottom: 0;
    height: 70px;
    left: 0;
    position: absolute;
    width: 100%;
}
.logo{
	width:294px!important;
	margin-top: 10px;
}

.logo a{
	background: url("../img/site/logo.png") repeat scroll left bottom transparent;
	height:91px;
	width:294px;
	display:block;
}

.checkbox  {

}

/* +++++++++++++++++ START Account Page +++++++++++++++++ */

.deal_nav{
	margin:0;
}

.deal_nav li{
	display:inline;
	border-right:1px solid #fff;
}

.deal_nav a{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
}

/* +++++++++++++++++ END Account Page +++++++++++++++++ */

/* +++++++++++++++++ START Account Page Modules +++++++++++++++++ */



.gray_module_content p{
    border-bottom: 1px solid #CCCCCC;
    font-size: 13px;
    line-height: 1.5;
    margin: 10px;
    padding-bottom: 10px;
}


/* +++++++++++++++++ END Account Page Modules +++++++++++++++++ */


/* +++++++++++++++++ START How it works +++++++++++++++++ */
#how_it_works{
	margin-top:10px;
	margin-bottom:10px;	
}

#how_it_works div{
	text-align:right;
}


#how_it_works div span{
	display:block;
	color:#3CAACC;
	font-weight:bold;
	font-size:50px;
}

#how_it_works div p{
    color: #777777;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
}
/* +++++++++++++++++ END How It Works +++++++++++++++++ */


/* +++++++++++++++++ START Login Page +++++++++++++++++ */

#UserLoginForm{
	
}

/* +++++++++++++++++ END Login Page +++++++++++++++++ */

/**
* Merchant Accounts
*/

.merchant_deals table th {
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    width: 110px;
}

.merchant_deals table{
	margin:10px 0;
}

.horizontal_list{
	   float: right;
    margin: 10px 0;
}

.horizontal_list li{
    float: left;
    list-style: none outside none;
    margin-left: 10px;
}

.horizontal_list li a{
    padding: 0;
    text-decoration: none;
	}
	
td.status,
td.revenue{
    color: green;
    font-weight: bold;
}

/**
* Deals
*/

.deal_listing:hover{
	cursor:pointer;
}

.deal_view .deal_listing:hover{
	cursor:default;
}

.deal_content{
	padding:10px 5px;
	position:relative;
}

.deal_content_highlight{
	position:absolute;
	height:100px;
	width:100px;
	z-index:0;
}
.highlight{
	-moz-border-radius:5px;
	background:#fffad5;
}

a.deal_listing{
	color:#4d4d4d;
	text-decoration:none;
	display:block;
}

/**
* Deal Details
*/
.deal_view .white_mod_694_content{
	padding:0 10px;
}


.deal_view .container_30 .grid_18{
	width:570px;
}
.thumb_nails img{
    border: 3px solid #CCCCCC;
    clear: both;
    margin: 0 0 11px;
}

.venue_name{
    font-weight: bold;
    margin: 0 0 5px;
}

.venue_contacts{
	margin:0;
}

.venue_contacts li{
    border-top: 1px solid #CCCCCC;
    list-style: none outside none;
    margin: 5px 0 0;
    padding: 5px 0;
}


.venue_contacts li.venue_email{
    background: url("../img/site/email_icon.png") no-repeat scroll 0 8px transparent;
    padding-left: 23px;
}

.venue_contacts li.venue_website{
    background: url("../img/site/website_icon.png") no-repeat scroll 0 8px transparent;
    padding-left: 23px;
}
.venue_contacts li a{
	text-decoration:none;
}

.highlight_list ul{
	list-style:none;
	margin:0;
}

.highlight_list ul li{
    background: url("../img/site/highlight_bullet.png") no-repeat scroll 0 4px transparent;
    margin: 5px 0 15px 0;
    padding-left: 15px;
}

#things_to_do img{
	margin-bottom:5px;
}
.things_to_do_content{
    margin: 10px 0;
    padding: 0 7px;
}

/**
 * Deal Purchase Page
 */
#sign_in{
float:right;
}

#things_to_do .slide{
	display:none;
}

#things_to_do .first_slide{
	display:block;
}




#featured_deal {
    color: #444444;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#featured_deal .deal_content {
    padding: 10px 5px 10px 9px;
    position: relative;
}
/**
 * Deal Purchase Page
 */
#sign_in{
float:right;
}

#things_to_do .slide{
	display:none;
}

#things_to_do .first_slide{
	display:block;
}




#featured_deal {
    color: #444444;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#featured_deal .deal_content {
    padding: 10px 5px 10px 9px;
    position: relative;
}

/**
 * Deal Confirmation Page
 */
#destination_details{
float:right;
}